@{
    ViewData["Title"] = "About Website and Products";
}
<h1>@ViewData["Title"]</h1>

<br />

<h5>About Our Website</h5>
<p>
    This is West Buy Canada Website.<br/>
    We have large group of Digital product which covers children to adult age of people. This is single stop point website.
    You can buy all digital products which you can use in kitchen, for entertainment and much more.
</p>

<br/>

<h5>Product Category</h5>
<p>
    <ul>
        <li>eBooks</li>
        <li>Software</li>
        <li>Web-based Applications</li>
        <li>Graphics and Digital Art</li>
        <li>Cloud Design App Templates</li>
        <li>Fonts</li>
        <li>Music and Audio</li>
        <li>Photography</li>
        <li>Video</li>
        <li>Documents</li>
        <li>Spreadsheets</li>
        <li>Courses</li>
        <li>Professional Services</li>
        <li>Tickets</li>
    </ul>
</p>
