@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h5>About Our Website</h5>
<p>
    This is West Buy Canada Website.
</p>
<br/>
<h5>Log File Data</h5>
<p>
    In common with other websites, log files are stored on the web server saving details such as your IP address, browser type, referring page and time of visit. This information is not used to track individual visitors to this website.
</p>
<br/>
<h5>Cookies & Your Personal Data</h5>
<p>
    Cookies are small digital signature files that are stored by your web browser that allow your preferences to be recorded when visiting the website. Also they may be used to track your return visits to the website.

    We might use cookies to store your preferences when you visit WPKube. This helps us to improve your experience as a visitor by tracking your interests, and lets us identify repeat visitors.
</p>
