@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h5>About Our Website</h5>
<p>
    This is West Buy Canada Website.
</p>
<br/>
<h5>What we sell on our website</h5>
<p>
    We have large group of Digital product which covers children to adult age of people. This is single stop point website.
    You can buy all digital products which you can use in kitchen, for entertainment and much more.
</p>
<br/>
<h5>Cookies & Your Personal Data</h5>
<p>
    Cookies are small digital signature files that are stored by your web browser that allow your preferences to be recorded when visiting the website. Also they may be used to track your return visits to the website.

    We might use cookies to store your preferences when you visit WPKube. This helps us to improve your experience as a visitor by tracking your interests, and lets us identify repeat visitors.
</p>
