@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="p-3 mb-2 bg-secondary text-white">
        <br/>
        <h1>West Buy Canada Digital Store</h1>
        <br/>
    </div>
    <div class="p-3 mb-2 bg-info text-dark">
        <h4>Student Detail</h4>
    </div>
    <div class="border border-info border border-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Serial No</th>
                <th scope="col">Student ID</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>200478377</td>
                <td>Karnasinh Gohil</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
